.fundo {
    background-color: #121212;
    color: white;

}

.bg-nav {
    background-color: #212121;
    padding-bottom: 50px;
}

.bg-hr {
    background-color: gray;
}

.espaco {
    padding-top: 500px;
}