{% extends 'base.html' %}

<title> {% block 'title' %}Cadastro de Aluno{% endblock %} </title>

{% block 'body' %}

    <div class="container">
        {% if messages %}
        
            <br class="bg-br">
            {% for message in messages %}
            
                <div class="alert {{message.tags}}">{{message}}</div>
            
            {% endfor %}
        
        {% endif %}
        <form class="row" action="{% url 'cadastrar_aluno' %}" method="POST" style="margin-top: 7%;">{% csrf_token %}

            <h1>Cadastro de Alunos</h1>
            <div class="mt-3 col-md-12">
                <label class="text-dark" for="">Nome Completo</label>
                <input type="text" placeholder="Digite seu nome" name="nome_completo_aluno" class="form-control">
            </div>
            <br>
            <div class="mt-3 col-md-6">
                <label class="text-dark" for="">CPF</label>
                <input type="text" placeholder="Digite seu CPF" name="cpf_aluno" class="form-control">
            </div>
            <br>
            <div class="mt-3 col-md-6">
                <label class="text-dark" for="">Data de Nascimento</label>
                <input type="date" placeholder="Digite sua Data de Nascimento" name="data_nascimento_aluno" class="form-control">
            </div>
            <br>
            <div class="mt-3 col-md-6">
                <label class="text-dark" for="">Endereço</label>
                <input type="text" placeholder="Digite seu endereço" name="endereco_aluno" class="form-control">
            </div>
            <br>
            <div class="mt-3 col-md-6">
                <label class="text-dark" for="">Email</label>
                <input type="email" placeholder="Digite seu email" name="email_aluno" class="form-control">
            </div>
            <br>
            <!--<div class="mt-3 col-md-6">
                <label class="text-dark" for="">Turno</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected disabled value="">Selecione</option>
                    <option name="turno_aluno">Manhã</option>
                    <option name="turno_aluno">Tarde</option>
                    <option name="turno_aluno">Noite</option>
                </select>
            </div>
            <br>
            <div class="mt-3 col-md-6">
                <label class="text-dark" for="">Arte Marcial</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected disabled value="">Selecione</option>
                    <option name="arte_marcial_aluno">Kung Fu</option>
                    <option name="arte_marcial_aluno">Karatê</option>
                    <option name="arte_marcial_aluno">Judô</option>
                </select>
            </div>
            <br>-->
            <div class="mt-3 col-md-6">
                <label class="text-dark" for="">Turno</label>
                <input type="text" placeholder="Digite seu turno" name="turno_aluno" class="form-control">
            </div>
            <br>
            <div class="mt-3 col-md-6">
                <label class="text-dark" for="">Arte Marcial</label>
                <input type="text" placeholder="Digite arte marcial desejada" name="arte_marcial_aluno" class="form-control">
            </div>
            <br>
            <input type="submit" class="btn btn-success" style="width: 100%; margin-top: 4%;">

        </form>

        <hr class="bg-hr">

    </div>

{% endblock %}
